* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.slideshow-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  inset: 0;
  /* background-image: url("https://images.unsplash.com/photo-1677443181136-084257a0af67?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  background-image: url("kuku/bg.jpeg");
  background-size: cover;
  background-position: center;
  filter: brightness(0.6);
  z-index: 1;
}

.slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95);
  max-width: 60%;
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  z-index: 2;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.5);
}

.slide.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.controls {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  z-index: 3;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: white;
}